@model Miss1988.Models.NhomMon

<!-- Nếu đang Edit thì cần gửi hidden ID -->
@if (Model != null && Model.NhomMonID > 0)
{
    @Html.HiddenFor(m => m.NhomMonID)
}

<!-- Tên nhóm -->
<div class="form-group">
    @Html.LabelFor(m => m.TenNhom, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.TenNhom, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.TenNhom, "", new { @class = "text-danger" })
    </div>
</div>

<!-- Hình ảnh -->
<div class="form-group">
    @Html.LabelFor(m => m.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.ImageUrl, "", new { @class = "text-danger" })
    </div>
</div>

<!-- Nút Submit -->
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Lưu" class="btn btn-primary" />
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>
