@model Miss1988.Models.KhuyenMai
@{
    ViewBag.Title = "Sửa khuyến mãi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.KhuyenMaiID)

        @Html.Partial("PVCreateEditKhuyenMai", Model)
    </div>
}
